@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


nav{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00D1FF;
    position: relative;
    height: 70px;
}
.underdevelopmentconatiner{
    display: none;
}

.logo img{
    height: 50px;
}
.name{
    width: 180px;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}
.togglebutton img{
    height: 30px;
}
.carousel{
    z-index: 0;
}
.carousel-inner {
    height: 500px; 
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
}
@media (max-width:600px) {
    nav ul{
        z-index: 1;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #0D5BA3;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 15px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
@media (min-width: 601px)
 {

    .underdevelopmentconatiner {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: white;
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }
    .underdevelopmentconatiner img{
        width: 50vw;
        object-fit:contain;
    }
    .underdevelopmentconatiner p{
        font-weight:500;
        font-size: 3vw;
    }
}
