@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* Replace with your font URL */


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
/* :root{
    --color1: #06414E;
    --color2: #0d5292; 
    
    --color3: #00D1FF;
    --color4: #ffff;
}*/:root{ 
    --color1: #06374e;
    --color2: #0d5292; 
    --color3: #00D1FF;
    --color4: rgb(255, 255, 255);
    --color5: #CDEDFF;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.name{
    color: #D9D9D9;
}

/* preloader */
#preloader{
    height: 100vh;
    width: 100vw;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
}
#preloader img{
    max-height: 150px;
    height: 20vw;
}
#preloader p{
    transform: translateY(-20px);
    
    font-size: clamp(16px, 4vw, 24px);
}

/* navigation */
.nav{
    font-size: 3.5vw;
    background-color: var(--color3);
    width: 100vw;
    height: 12vw;
    display: flex;
    justify-content: space-around
    ;
    align-items: center;
}
.logocontainer{
    position: relative;
    display: flex;
    align-items: center;
    transform: translateX(-2.5vw);
}
.logocontainer img{
    height: 10vw;
}
.name{
    color: var(--color1);
    margin-left: 15px;
    width: 40vw;
    font-size: 1em;
    font-weight: 700;
}
.togglebutton{
    display: flex;
    align-items: center;
}
.togglebutton img{

    height: 8vw;
}

.menu i{
    font-size: 1.8em;
    color: var(--color4);
    cursor: pointer;
}
.links{
    width: 100%;
    z-index: 3;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color3);
    transition: all 0.3s ;
    
}
.links.active{
    border-top: solid 2px var(--color1);
    border-bottom: solid 2px var(--color1);

    opacity: 1;
    visibility: visible;
}
nav ul li{
    list-style-type: none;
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li.active{
    background-color: var(--color1);

}

nav ul li a{
    text-decoration: none;
    color: var(--color4);
}
.links ul{
    padding: 2vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;


}



/* herosection*/
#swiper-1 .swiper-slide {
}

.overlay-text{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.3);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.overlay{
    /* background-color: #fff; */
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}
.overlay-text button{
    /* position: relative; */
    /* bottom: 40px; */
    color: var(--color4);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    width: 9em;
    margin-top: 40px;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color:var(--color3);
    transition:all 0.2s;
}
.overlay-text button:active{
    color:var(--color2) ;
    background-color: var(--color4);

}
.overlay-text .text{
    /* position: relative; */
    /* bottom: 60px; */
    font-family:'Playfair Display';
    color: var(--color4);
    display: flex;
    flex-direction: column;
}

.overlay-text .small{
    font-size: 15px;
}
.overlay-text .big{
    
    font-family: 'Playfair Display', Times, serif; /* Add a fallback font */
    font-size: 45px;
    line-height: 60px;
}

#swiper-1{
    height: 60vh;
}
/* #swiper-1 */
#swiper-1 img{
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

#swiper-1 .swiper-pagination-bullet{
    background-color: #D9D9D9;
    opacity: 0.5;

}
#swiper-1 .swiper-pagination-bullet-active{
    background-color: #D9D9D9;
    opacity: 1;

}
.swiper-slide .image-2{
    /* transform: translateX(-120px); */
}








/* aboutus */
.aboutus{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color3);
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 1rem;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 10%;
}
.heading{
    color: var(--color2);
    font-weight: 700;
    font-size: 2em;
}
.description{
    padding: 0 16px;
    margin-bottom: 6px;
    color: var(--color4);
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
}

.button button{
    margin-bottom: 6px;
    color: var(--color4);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    height: 2.5em;
    width: 9em;
    border: none;
    border-radius: 10px;
    background-color:var(--color2);
    transition:all 0.2s;
}
.button button:active{
    color:var(--color2) ;
    background-color: var(--color4);

}



/* messagae1 */
.message1{
    overflow: hidden;
    font-size:3.8vw;
    display: flex;
    align-items: center;
}
.line{
    position: absolute;
    background-color: var(--color2);
    width: 100vw;
    height: 2px;
    transform: translateY(1.5em);

}
.tree,.school{
    height: 3.8em;
}

.text{
    color: var(--color2);
line-height: 20px;
text-align: center;
font-weight:600 ;
}
.group1{
    position: relative;
    left: -4px;
    display: flex;
}
.group2{
    position: relative;
    right: -4px;
    display: flex;
}



/* recentevets */
.recentevents-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 0;
    color: var(--color2);
}
#swiper-2{
    height: 400px;
}
#swiper-2 img{
    height: 100%;
    object-fit: cover;
}
#swiper-2 .swiper-pagination-bullet{
    background-color: #D9D9D9;
    opacity: 0.5;

}
#swiper-2 .swiper-pagination-bullet-active{
    background-color: #D9D9D9;
    opacity: 1;

}


/* ourteam */
#swiper-3{
    width: 100%;
}
#swiper-3 .swiper-pagination-bullet-active{
    background-color: var(--color2);
    opacity: 1;

}
.ourteamh{
text-align: center;
color: var(--color2);
font-weight: 700;
font-size: 3.5em;    
padding: 15px 0;

}
.card{
    padding-bottom: 30px;
    border-radius: 16px;
    background-color: var(--color3);
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
    padding: 10px;
    color: var(--color2);
    font-weight: 700;
    font-size: 2em;
}
.membername {
    text-align: center  ;
    font-size: 2em;
    font-weight: 700;
    color: var(--color4);
}
.qualification{
    
    color: var(--color4);
    font-size: 1.5em;
    font-weight: 700;
}
.card img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 80px;
} 


.reviews-wrapper{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviews{
    border-radius: 5px;
    margin: 10px 10px;
    background-color: #E5FAFF;

}

.reviews-wrapper .title{
    margin: 20px 0px;
    color: var(--color1);
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
}
.reviews-wrapper{
    display: flex;
    flex-direction: column;


}
.review-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    background-color: var(--color5);
    margin: 20px;
    padding: 20px;
    border-radius: 32px;
}
.comma {
    transform: translateX(-10px);
}
.comma img{
    height: 45px;

}
.comma-2{
    transform: translateX(-20px);
}
.testimonial-description{
    font-size: 0.8em;
    text-align: start;
    color: var(--color1);
}
.image-name-container{
    display: flex;
    align-items: center;
}
.name-address-container{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}


.image-name-container .image{
    border-radius: 30.5px;
    height: 55px;
    width: 55px;
    object-fit: cover;
    margin: 15px 0px;
}
/* underdevlopment */
.underdevelopmentconatiner{
    display: none;
}
@media (min-width: 601px)
 {
    body{
        overflow: hidden;
    }
    .underdevelopmentconatiner {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: var(--color4);
        position: absolute;
        z-index: 3;
        width: 100vw;
        height: 100vh;
    }
    .underdevelopmentconatiner img{
        width: 50vw;
        object-fit:contain;
    }
    .underdevelopmentconatiner p{
        font-weight:500;
        font-size: 3vw;
    }
}





































