@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style-type: none;
}
:root{ 
    --color1: #06374e;
    --color2: #0d5292; 
    --color3: #00D1FF;
    --color4: rgb(255, 255, 255);
    --color5: #CDEDFF;
    --color6: #E5FAFF;
    
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 50vw;
}
p{
    font-family: 'poppins',sans-serif;
    margin-top: 2vh;
}
button{
    margin-top: 3vh;
    margin-bottom: 6px;
    color: var(--color4);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    height: 2.5em;
    width: 9em;
    border: none;
    border-radius: 10px;
    background-color:var(--color2);
    transition:all 0.2s;
}
a{
    color: inherit;
}
button:active{
    color:var(--color2) ;
    background-color: var(--color4);

}